name: cv-proj
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - numpy
  - scipy
  - matplotlib
  - scikit-image
  - pyyaml
  - tqdm
  - pip
  - pip:
    - imagecorruptions
